<?xml version="1.0" ?>
<robot name="hanwhabot_3465" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.01" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- plz input right value -->
        <box size="0.680 0.465 0.30"/>
      </geometry>
      <material name="light_black"/>
    </visual>
  </link>

  <!-- <joint name="wheel_left_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_left_link"/>
    <origin xyz="0.0 0.233 0.0" rpy="-1.57 0 0"/>
    <axis xyz="0 0 1"/>
  </joint> -->

  <!-- <link name="wheel_left_link"> -->
    <!-- <visual>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <geometry>
          <cylinder length="0.088" radius="0.0475"/>
      </geometry>
      <material name="dark"/>
    </visual> -->
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.018" radius="0.033"/>
      </geometry>
    </collision> -->
  <!-- </link> -->

  <!-- <joint name="wheel_right_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_right_link"/>
    <origin xyz="0.0 -0.233 0.0" rpy="-1.57 0 0"/>
    <axis xyz="0 0 1"/>
  </joint> -->

  <!-- <link name="wheel_right_link"> -->
    <!-- <visual>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <geometry>
        <cylinder length="0.088" radius="0.0475"/>
      </geometry>
      <material name="dark"/>
    </visual> -->

    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.018" radius="0.033"/>
      </geometry>
    </collision> -->

  <!-- </link> -->

  <!-- <joint name="caster_back_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster_back_link"/>
    <origin xyz="-0.081 0 -0.004" rpy="-1.57 0 0"/>
  </joint> -->

  <!-- <link name="caster_back_link">
    <collision>
      <origin xyz="0 0.001 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.030 0.009 0.020"/>
      </geometry>
    </collision>

  </link>
 -->

  <link name="imu_link"/>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="-0.32 0 0.15" rpy="0 0 0"/>
  </joint>

  <joint name="scan_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_scan"/>
    <origin xyz="0.34 0 0.14" rpy="0 0 0"/>
  </joint>

  <link name="base_scan">
    <visual>
      <origin xyz="0.34 0 0.14" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.088" radius="0.0475"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

  <link name="camera_link"/>
  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.34 0 0.15" rpy="0 0 0"/>
  </joint>
</robot>
