<launch>

	<arg name="model" />

	<!-- Parsing xacro and setting robot_description parameter -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find hanwhabot_description)/urdf/hanwhabot_v1.urdf.xacro" />


	<!-- Starting robot state publish which will publish tf -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
          <param name="publish_frequency" type="double" value="50.0"/>
        </node>
</launch>
